@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .t-h2 {
        @apply t-text-2xl t-font-normal t-mx-0 t-px-0 lg:t-text-2xl;
    }

    .error-text {
        font-size: 10px;
        color: #C62424;
    }
}
#checkout {
    @apply t-px-2;
    padding-top: 27px;
    padding-bottom: 27px;
}
@media screen and (min-width: 750px) {
    #checkout {
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

.p-skeleton {
    display: block !important;
}
.drawer__footer button.button--primary {
    background-color: rgba(var(--color-button),var(--alpha-button-background));
}