<div id="MainContent">
    <div class="shopify-section">
        <div id="checkout"></div>
    </div>
</div>
{{ 'style.css' | asset_url | stylesheet_tag }}
<script src="{{'vue-cart.js' | asset_url }}"></script>